body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    cursor: url('../images/cursor.svg'), auto;
    
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full height of the viewport */

}

/* Kontener dla usług */
.services-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    padding: 10px;
}

/* Styl dla pojedynczej usługi */
.service {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.service button {
    align-items: center; 
    width: 95%; 
    color: black;
    font-size: 15px; 
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    transition: padding 0.3s, font-size 0.3s; 
    display: inline-flex;
    justify-content: center;
    background: none;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 10px;
}

.service button:hover {
    font-size: 17px;
}

/* Ukryte elementy */
.hidden {
    display: none;
    height: 0; 
    margin: 0;
    padding: 0;
}

/* Styl opisu */
.description {
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
    margin-top: 10px;
}

.description:not(.hidden) {
    opacity: 1;
}

/* Styl nagłówka */
.header {
    font-size: 24px; 
    font-weight: bold; 
    text-align: center; 
    color: black;
}

/* Styl dla drugiego przycisku */
.second-button {
    margin: 15px !important;
    padding: 10px !important;
}

/* Responsywność */
@media (max-width: 1300px), (max-height: 700px) {
    body {
        overflow-y: auto;
    }

    /* Zmiana wysokości kontenera */
    .services-container {
        height: 100vh; /* Pełna wysokość ekranu */
        width: 100%;
        margin-top: 150px;
    }

    /* Zmiana rozmiaru przycisków */
    .service button {
        font-size: 12px;
        padding: 15px;
    }

    *:focus {
        outline: none;
    }
}
