body {
    font-family: "Times New Roman", Times, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    cursor: url('cursor.svg'), auto;
    font-style: normal;
}

.content-container {
    height: auto;
    margin: 5% 20%; 
    width: 70%;  /* Container takes 70% of width */
    object-fit: contain;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap to the next line */
    justify-content: center;  /* Ensure vertical centering of content within this container */
    align-items: center;  /* Center content horizontally within the container */
}


/* Header Styling */
header h1 {
    font-size: 2rem;
    color: black;
    text-align: center;
    width: 100%;  /* Ensure header takes the full width */
}

/* Section Styling */
section h2 {
    font-size: 1.75rem;
    color: black;
    margin-top: 20px;
}

/* Paragraphs Styling */
p {
    margin-bottom: 15px;
    text-align: center;
    width: 100%;  /* Ensure paragraphs take full width */
}

/* List Styling */
ul {
    font-size: 1rem;
    list-style-type: none;
    padding: 0;
    width: 100%;  /* Ensure list takes full width */
}

ul li {
    font-size: 1rem;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
}

ul li strong {
    color: black;
}

/* PHONE */
@media (max-width: 1300px), (max-height: 700px) {
    body {
        margin: 0;  /* Remove default body margin */
        padding: 0;  /* Remove default body padding */
        overflow-y: auto; /* Enable vertical scrolling if content overflows */
    }

    .content-container {
        margin: 5% 5%;  /* Reduce margin on smaller screens */
        width: 90%;  /* Full width on mobile */
        max-width: 100%;  /* Prevent it from overflowing on smaller screens */
    }

    p, ul li, section h2, header h1 {
        text-align: center;
        width: 100%;  /* Make sure text takes full width */
    }
}