body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, sans-serif;
    color: black;
    background-color: white;
    cursor: url('cursor.svg'), auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container{
    width: 70%;
    margin-left: 25vh; 
}

@media (max-width: 1300px), (max-height: 700px) {
    body {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-container {
        width: 70%; /* Zmniejszenie szerokości na mniejszych ekranach */
        max-width: 90%; /* Dopasowanie do mniejszych ekranów */
        text-align: center;
        margin: auto; 
        overflow-y: auto; 
        overflow-x: auto;
        
    }

    header h1 {
        font-size: 2rem; /* Mniejszy nagłówek */
    }

    section h2 {
        font-size: 1.5rem; /* Mniejszy tekst sekcji */
    }

    p {
        font-size: 1rem; /* Mniejszy tekst paragrafów */
        line-height: 1.5;
    }
}