body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, sans-serif;
    color: black;
    background-color: white;
    cursor: url('cursor.svg'), auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container{
    width: 70%;
    margin-left: 25vh; 
}

@media (max-width: 1300px), (max-height: 700px) {
    body {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;  /* Zamiast center, żeby nie blokować przewijania */
        align-items: center;
        height: 100%; /* Zapewnia, że body wypełnia całą wysokość ekranu */
        overflow: hidden; /* Blokuje przewijanie na body, ale inne elementy mogą przewijać */
    }

    .content-container {
        width: 70%;
        max-width: 90%;
        text-align: center;
        margin: auto;
        overflow-y: auto; /* Teraz przewijanie w pionie będzie możliwe */
        overflow-x: hidden; /* Jeśli chcesz zablokować przewijanie w poziomie */
    }

    header h1 {
        font-size: 2rem;
    }

    section h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.5;
    }
}
