body {
    font-family: "Times New Roman", Times, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    display: flex;  /* Flexbox layout */
    justify-content: center;  /* Center horizontally */
    align-items: center;  /* Center vertically */
    height: 100vh;  /* Ensure the body takes full height of the viewport */
    flex-direction: column;  /* Stack children vertically */
}

.content-container {
    height: auto;
    margin: 0 10%;  /* Reduced the left margin */
    margin-left: 20%;  /* Added a left margin to move the content to the right */
    width: 70%;  /* Container takes 70% of width */
    object-fit: contain;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap to the next line */
    justify-content: center;  /* Ensure vertical centering of content within this container */
    align-items: center;  /* Center content horizontally within the container */
}


/* Header Styling */
header h1 {
    font-size: 2rem;
    color: black;
    text-align: center;
    width: 100%;  /* Ensure header takes the full width */
}

/* Section Styling */
section h2 {
    font-size: 1.75rem;
    color: black;
    margin-top: 20px;
}

/* Paragraphs Styling */
p {
    margin-bottom: 15px;
    text-align: center;
    width: 100%;  /* Ensure paragraphs take full width */
}

/* List Styling */
ul {
    font-size: 1rem;
    list-style-type: none;
    padding: 0;
    width: 100%;  /* Ensure list takes full width */
}

ul li {
    font-size: 1rem;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
}

ul li strong {
    color: black;
}

