body {
    margin: 0;
    font-family: "Times New Roman", Times, sans-serif;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow:auto;
    cursor: url('cursor.svg'), auto;
}

:root {
    --move-distance: 25vw; 
}

@media (max-width: 768px) {
    :root {
        --move-distance: 50vw; 
    }
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center; /* Wyrównanie poziome */
}

.image-container {
    position: relative;
    margin-bottom: 15vh;  /* Reduced margin with vh for better responsiveness */
    margin-top: 15vh;     /* Reduced margin with vh for better responsiveness */
}

.image-container .image {
    height: auto;
    object-fit: contain;
    margin: 10px 10px;
    transition: transform 1.5s ease-in-out; 
}

.image-container.move-right .image {
    transform: translateX(var(--move-distance));
}

.image-container.move-left .image {
    transform: translateX(calc(-1 * var(--move-distance)));
}

.image-container.reset .image {
    transform: translateX(0); 
}

.custom-arrow {
    cursor: url('cursor.svg'), auto;
}

@media (min-width: 1000px) {
    .image-container .image {
        width: 25%; 
        margin: 20px 20px; 
    }
}

.top-buttons {
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    margin: 5%;
}

.bottom-buttons {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    margin: 5%;
}


@media (max-width: 600px) {
    .top-buttons, .bottom-buttons {
        flex-direction: column;
        align-items: center;
        margin-top: 2vh;  /* Adjust top margin */
        margin-bottom: 2vh;  /* Adjust bottom margin */
    }
}

.button {
    font-size: large;
    flex: 1;
    margin: 0 5px;
    border: none;
    border-radius: 10px;
    color: black;
    background: none;
    text-align: center;
    transition: transform 0.3s ease, font-weight 0.3s;
    cursor: url('cursor.svg'), auto;

    font-family: inherit;
}


.button:hover {
    transform: scale(1.1); /* Slight hover scale */
}

.button:focus {
    outline: none; /* Remove focus outline */
}

.button.active {
    font-weight: bold;
}

.button.inactive {
    font-weight: normal;
}

@media (max-width: 600px) {
    .button {
        width: 80%;
        margin-bottom: 5vh;  /* Adjust button spacing for smaller screens */
    }
}

/* Logo animation */
.logo-animation {
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

body.loaded .logo-animation {
    opacity: 1;
    transform: scale(1);
}

/* Text container */
.text-container {
    opacity: 0; 
    position: fixed; 
    text-align: center;
    transition: opacity 1s; 
    top: 20%;
}

.text-container.left {
    left: 40vw; /* Align to the left */
}

.text-container.right {
    right: 40vw; /* Align to the right */
}

.text-container.show {
    display: block;
    opacity: 1;
    animation: fadeIn 3s forwards; /* Fade-in animation */
}

.text-container.hide {
    animation: fadeOut 2s forwards; /* Fade-out animation */
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px); /* Slight upward shift */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(5px); /* Optional downward shift */
    }
}
