body {
    margin: 0;
    font-family: "Times New Roman", Times, sans-serif;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow:auto;
    cursor: url('cursor.svg'), auto;
}

:root {
    --move-distance: 25vw; 
}

.image-container {
    display: flex;
    position: relative;
    margin-bottom: 8vh;  
    margin-top: 8vh;    
    justify-content: center;  /* Wyrównanie poziome */
    align-items: center;      /* Wyrównanie pionowe */ 
}

.image-container .image {
    height: auto;
    object-fit: contain;
    margin: 10px 10px;
    transition: transform 1.5s ease-in-out; 
}

.image-container.move-right .image {
    transform: translateX(var(--move-distance));
}

.image-container.move-left .image {
    transform: translateX(calc(-1 * var(--move-distance)));
}

.image-container.reset .image {
    transform: translateX(0); 
}

.custom-arrow {
    cursor: url('cursor.svg'), auto;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.top-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5%;       
    padding: 0;    
}

.bottom-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;              
    margin-bottom: 5%;
    padding: 0;
}

.button{
    margin: 0;
    padding: 0; 
    font-size: large;
    width: 30%;              
    min-width: 100px;         
    border: none;
    border-radius: 10px;
    color: black;
    background: none;
    text-align: center;
    transition: transform 0.3s ease, font-weight 0.3s;
    cursor: url('cursor.svg'), auto;
    font-family: inherit;
    text-decoration: none;
}


.button:hover {
    transform: scale(1.1); 
}

.button:focus {
    outline: none; 
}

.button.active {
    font-weight: bold;
}

.button.inactive {
    font-weight: normal;
}

.logo-animation {
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

body.loaded .logo-animation {
    opacity: 1;
    transform: scale(1);
}

.text-container {
    opacity: 0; /* Początkowo ukryte */
    position: fixed;
    text-align: center;
    transition: opacity 1s;
    top: 20%;
}

.text-container.left {
    left: 40vw;
}

.text-container.right {
    right: 40vw;
}

.text-container.show {
    opacity: 1;
    animation: fadeIn 3s forwards;
}

.text-container.hide {
    animation: fadeOut 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(5px);
    }
}

@media (max-width: 1300px) or (max-height: 700px){

    body {
        overflow: hidden
    }
    .top-buttons, .bottom-buttons {
        display: none !important;
    }

    .menu-button {
        display: block; 
    }

    :root {
        --move-distance: 50vw; 
    }
  
    .text-container {
        display: none !important;
    }

    .image-container {
        position: relative;
        display: flex;
        align-items: center; 
        justify-content: center; 
    }

    .image-container .image {
        transform: translateX(0); 
        height: 70vh; 
        object-fit: contain; 
        transition: transform 1.5s ease-in-out; 
        width: 90%;
        max-width: 90%;   
    }

}

@media (min-width: 1300px) and (min-height: 700px) {
    .top-buttons, .bottom-buttons {
        display: block; 
    }

    .menu-button {
        display: none; 
    }

    .image-container .image {
        width: 25%; 
        margin: 20px 20px; 
    }

    .header-phone {
        display: none !important;
    }
}

header {
    width: 100%;
}

.menu-button {
    background-color: rgba(211, 211, 211, 0.5); 
    color: black; 
    border: none; 
    display: block; 
    width: 100%; 
    font-size: 3rem; 
    padding: 10px 0; 
    cursor: url('cursor.svg'), auto;   
    text-align: center; 
    transition: background-color 0.3s ease; 
    position: relative;
    z-index: 1010;
}

.menu-button:hover {
    background-color: rgba(0, 0, 0, 0.4); 
}

.menu-button:focus {
    outline: none; 
}

#mobile-menu {
    display: flex; 
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    position: fixed;        
    width: 100%;              
    z-index: 1000; /* Ensure it stays below .menu-button */      
}

#mobile-menu button {
    margin: 0 auto;
    padding: 2vh;       
    font-size: 18px;          
    color: black;            
    background-color: white;   
    border: none;            
    text-align: center;       
    transition: transform 0.3s ease, font-weight 0.3s;
    cursor: url('cursor.svg'), auto;
    text-decoration: none;   
    display: block;         
    width: 100vw; /* Pełna szerokość ekranu */
    position: relative; /* Zapewnia, że element jest na odpowiedniej warstwie */
    z-index: 990; /* Przykłada priorytet względem innych elementów */
}


@keyframes moveImage {
    0% {
        transform: translateY(0); /* Początkowa pozycja */
    }
    100% {
        transform: translateY(175px); /* Przesunięcie obrazu w górę (lub w dół, zmień wartość) */
    }
}

.image-container.menu-open {
    animation: moveImage 0.5s ease-out forwards; /* Animacja przesunięcia */
}
