* {
    font-family: "Georgia", Times, serif;
}
.statue button{
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    text-decoration: underline;
    background-color: white;
    border: none ;
    white-space: nowrap;

}

::-webkit-scrollbar {
    width: 6px; 
}

::-webkit-scrollbar-track {
    background: white; 
    border: 2px solid #333; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: black; 
}
