* {
    box-sizing: border-box; 
}


body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    cursor: url('../images/cursor.svg'), auto;
    overflow: auto;
    
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.introduction p {
    line-height: 1.6;
    text-align: center;
}

.team h2 {
    text-align: center;
}

.team ul {
    padding-left: 0; 
    list-style: none;
    margin: 0;
}

.team ul li strong {
    color: black; 
}

#main-container {
    text-align: center;
    width: 50%;
}



@media (max-width: 1300px), (max-height: 700px) {

    *:focus {
        outline: none; 
    }
    #main-container {
        position: fixed;
        top: 100px;
        width: 98%;
        padding-left: 10%;
        padding-right: 10%;
        max-height: calc(100vh - 150px);
        overflow-y: auto;
    }
}
    
    

